/* TYPOGRAPHY */
body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 72px;
    font-weight: 600;
}

h2 {
    font-size: 45px;
    font-weight: 700;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
}

p {
    font-size: 18px;
}

p.p-small {
    font-size: 14px;
}

a.button {
    text-decoration: none;
    display: inline-block;
    padding: 5px 20px;
    font-size: 22px;
    border-radius: 30px;
    transition: 0.5s;
}

a.button-green {
    color: #9FB14B;
    border: 3px solid #9FB14B
}

a.button-pink {
    color: rgba(204, 54, 162, 1);
    border: 3px solid rgba(204, 54, 162, 1);
}

a.button-green:hover {
    background: #9FB14B;
    color: white;
}

a.button-pink:hover {
    background: #FD73D6;
    color: white;
    border: 3px solid #FD73D6;
}

/* NORMALIZING */

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    min-height:  100vh;
}

img {
    max-width: 100%; 
}

/* CONSTRAINTS */

.container {
    max-width: 1440px;
    margin: auto;
}

.wrapper {
    padding: 0px 100px;
}

/* LAYOUT */

header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px !important;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.hero {
    background: url(../imgs/Rectangle2.jpg);
    min-height: 80vh;
    padding: 1px;
    position: relative;
}

.hero div {
    position: absolute;
    bottom: 50px;
}

.pink-banner {
    background: rgba(204, 54, 162, 1);
    text-align: center;
    color: white;
    padding: 1px;
}

.green-banner {
    border-top: 3px solid #9FB14B;
    border-bottom: 3px solid #9FB14B;
    text-align: center;
    color: #9FB14B;
}

.trip-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.trip-grid--reverse>img {
    grid-column: 2;
}

.trip-grid--reverse>div {
    grid-column: 1;
    grid-row: 1;
}

.popular-choice {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 40px;
}

footer {
    background: #333;
    color: white;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

.footer-grid div:nth-child(2) {
    text-align: center;
}

/* NAVIGATION */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.primary-nav ul {
    display: flex;
    grid-gap: 20px;
}

nav ul a {
    text-decoration: none;
}

nav.primary-nav ul a {
    color: #333;
}

footer.nav ul a {
    color: white;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1050px) {
    .trip-grid {
        grid-template-columns: 1fr 2fr;
    }
    .trip-grid--reverse {
        grid-template-columns: 2fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .wrapper {
        padding: 0 5%;
    }
    .trip-grid {
        grid-template-columns: 1fr;
    }
    .trip-grid--reverse {
        grid-template-columns: 1fr;
    }
    .trip-grid--reverse>img {
        grid-column: 1;
    }
    .trip-grid--reverse>div {
        grid-row: 2;
    }
    .popular-choice {
        grid-template-columns: 1fr 4fr;
        grid-gap: 20px;
    }
    .footer-grid {
        grid-template-columns: 1fr;
        text-align: center;
        /* ADD SOMETHING HERE */
    }
}

@media screen and (max-width: 675px) {
    h1 {
        font-size: 50px;
    }
}

@media screen and (max-height: 675px) {
    h1 {
        margin-bottom: 20px;
    }
    .hero {
        min-height: 90vh;
    }

}